/*!
 * Copyright (c) 2019 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

@import '~eclipsefdn-solstice-assets/less/quicksilver/styles.less';
@import '~eclipsefdn-solstice-assets/less/_components/quicksilver/event-timeline.less';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import '_variables.less';

@import '_components/_commons.less';
@import '_components/about.less';
@import '_components/adopters.less';
@import '_components/homepage.less';
@import '_components/membership.less';
@import '_components/open-vsx.less';
@import '_components/projects.less';
@import '_components/resources.less';
@import '_components/featured-news.less';

.logo-eclipse-default {
  padding-top: 22px;
}

.logo-eclipse-default-mobile {
  max-width: 260px;
}

@media (max-width: @screen-xs-max) {
  #header-row {
    padding-bottom: 0;
  }
}

#header-row {
  padding-bottom: 20px;
  #btn-call-for-action .btn{
    padding: 10px 25px;
    margin-left: 10px;
  }
}

//== For event page
#header-wrapper.header-idesummit-event {
  .header-default-bg-img {
    background-image: url('images/jumbotron-idesummit-2021.jpg');
    background-position: center;
  }

  .featured-jumbotron {
    h1 {
      color: @brand-tertiary;
      font-weight: 600;
      font-size: 50px;
    }

    h2 {
      margin-top: 10px;
      color: @brand-primary;
      font-weight: 600;
    }

    p {
      margin-top: 10px;
      color: @brand-tertiary;
      font-size: 24px;
      font-weight: 600;
    }
  }
}

//== For event 2022 page
.header-ide-event-2022 {
  .header-default-bg-img {
    background-image: url('images/jumbotron-idesummit-2022.jpg');
    background-position: center;
  }
  .featured-jumbotron {
    h1 {
      font-weight: 600;
      font-size: 60px;
      text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    }

    h2 {
      margin-top: 10px;
      font-size: 35px;
      color: #fdb817;
      font-weight: 600;
      word-spacing: 4px;
      text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    }

    p {
      margin-top: 10px;
      font-size: 24px;
      font-weight: 600;
      text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    }

    a.btn-primary {
      background-color: #fff;
      border-color: #fff;
      color: @brand-primary;
      font-weight: 600;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    }
    a.btn-primary:hover {
      background-color: #f0f0f0;
      border-color: #f0f0f0;
    }
  }
}

.agenda-ide-2022 {
  h2 {
    text-align: center;
  }
  li a {
    color: @brand-primary;
  }
  .table th {
    @media (min-width: @screen-xs-max) {
      min-width: 200px;
    }
  }
}

.modal-body li {
  font-size: 19px;
}

.idesummit-event {
  h2 {
    font-size: 34px;
    margin-bottom: 20px;
  }
  p {
    font-size: 19px;
  }
}

.white-row {
  background-color: #fff;
  padding: 40px 0;
}

.eclipsefdn-user-display-content {
  .owl-stage {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.featured-section.featured-idesummit-event {
  background-image: url('images/alternate.jpg');
  background-size: cover;
  color: @brand-tertiary;
  p,
  h2,
  .fa,
  .feather {
    stroke: @brand-tertiary;
    color: @brand-tertiary;
  }
}

.featured-jumbotron h1 sup {
  font-size: 0.66em;
  position: relative;
  top: -0.34em;
}

.events-container a.btn-secondary:nth-child(2) {
  margin-left: 10px;
}
//== END: For event page

// events display, aligns presenters (should be moved to solstice-assets)
.eclipsefdn-agenda-schedule ul {
  padding-left: 0px;
}
.eclipsefdn-agenda-schedule li {
  list-style: none;
  padding-bottom: 10px;
}
