<!--
  Copyright (c) 2020 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  Contributors:
    Eric Poirier <eric.poirier@eclipse-foundation.org>
    Yi Liu <yi.liu@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

{{ $id := .Get "id" | default "featured-story-container" }}
{{ $templateId := .Get "templateId" }}
{{ $projectIds :=  .Get "projectIds" }}
{{ $url :=  .Get "url" }}
{{ $classes :=  .Get "classes" }}
{{ $categories :=  .Get "categories" | default "" }}

<div id="prowered-by" class="row featured-section featured-section-prefix text-center featured-content-white-bg">
  <div class="container">
      <div class="row">
          <div class="col-md-14 col-md-offset-5 col-sm-18 col-sm-offset-3">
              <p class="small">PROJECTS</p>
              <p class="powered-by-description">The Eclipse Cloud DevTools Working Group serves to
                advance, promote, and drive community participation in a
                broad portfolio of Eclipse projects.</p>
              <p><a class="btn btn-primary" href="https://projects.eclipse.org/projects/ecd">Learn More</a></p>
          </div>
      </div>
  </div>
</div>
<section id="wg-projects" class="container featured-section featured-section-projects" data-filter-wg="{{ $.Site.Params.projects_working_group }}">
  <div class="row">
    <div id="projects-list" class="col-md-14 col-md-offset-5">
      <input aria-label="Search for a project" type="text" class="form-control search center-block" placeholder="Start typing to filter projects…">
      {{ if ne $categories "" }}
        <p class="margin-bottom-0 margin-top-20 text-center">Filter by categories:</p>
        <div id="projects-categories" class="eclipsefdn-project-list-filters text-center" data-categories="{{ $categories }}"></div>
      {{ end }}
      <ul class="featured-projects list-inline list {{ $classes }}" 
           id="{{ $id }}"
           data-project-ids="{{ $projectIds }}" 
           data-template-id="{{ $templateId }}"
           data-url="{{ $url }}"></ul>
    </div>
  </div>
  <p class="text-center margin-top-30">
    <a href="/projects" class="btn btn-primary">View All Projects</a>
  </p>
</section>