<!-- 
  Copyright (c) 2019 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  Contributors:
    Eric Poirier <eric.poirier@eclipse-foundation.org>
  SPDX-License-Identifier: EPL-2.0
-->
<!-- start: Founding Members -->
<div id="members" class="row featured-section featured-section-members text-center">
  <div class="container">
    <h2 class="heading-underline text-center">Members</h2>
    <ul class="list-inline eclipsefdn-members-list flex-center gap-50 margin-bottom-20" data-ml-wg="cloud-development-tools"
      data-ml-template="logo-with-levels" data-ml-wg-level="WGSD" data-ml-level-under-logo="true">
    </ul>
    <p class="members-description">See all members and member benefits</p>
    <p><a class="btn btn-primary margin-top-5" href="{{ "/membership" | absURL }}">Learn more</a></p>
  </div>
</div>
<!-- end: Founding Members -->
