<!--
  Copyright (c) 2021 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  Contributors:
    Eric Poirier <eric.poirier@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

<div id="whats-new" class="row featured-section featured-section-whats-new text-center">
    <div class="container">
        <h2 class="brand-primary text-center heading-underline">What's new?</h2>

        <div class="row">
          <div class="col-md-16 col-md-offset-4">
            <div class="row">

              <div class="col-sm-10 col-sm-offset-2 match-height-item-by-row whats-new-item">
                <div class="whats-new-icon"><img alt="News icon" src="images/ecdtools/home/news.svg"></div>
                <div id="news-list-container" class="news-items" data-pagination="false" data-news-count="1" data-publish-target="ecd_tools"></div>
                <p class="whats-new-view-all"><a href="/resources/news">View All News <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
              </div>
              <div class="col-sm-10 match-height-item-by-row whats-new-item whats-new-playlist" data-playlists="{{ .Site.Data.playlists | jsonify | base64Encode }}">
                  <div class="whats-new-icon"><img alt="Videos icon" src="images/ecdtools/home/videos.svg"></div>
                  <p class="whats-new-date">...</p>
                  <h4><a class="whats-new-title" href="#whats-new">...</a></h4>
                  <p class="whats-new-description">...</p>
                <p class="whats-new-view-all"><a href="/resources/videos">View All Videos <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-10 col-sm-offset-2 match-height-item-by-row whats-new-item">
                <div class="whats-new-icon"><img alt="Blogs icon" src="images/ecdtools/home/blogs.svg"></div>
                  <div class="solstice-rss-blog-list" data-limit="1" data-template-id="mustache-tpl-home-page-blog-item" data-urls="/resources/blogs/index.xml,https://planeteclipse.org/planet/ecdtools.xml">
                    <p class="solstice-loading">
                      <i class="fa fa-spinner fa-pulse"></i>
                    </p>
                  </div>
                  <p class="whats-new-view-all"><a href="/resources/blogs">View All Blog Posts <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
              </div>
              <div class="col-sm-10 match-height-item-by-row whats-new-item">
                <div class="whats-new-icon"><img alt="Events icon" src="images/ecdtools/home/events.svg"></div>
                <div id="event-list-container" class="news-items" data-template-id="event-short-list" data-upcoming="1" data-count="1" data-publish-target="ecd_tools"></div>
                <p class="whats-new-view-all"><a href="/resources/news">View All Events <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>