/*!
 * Copyright (c) 2021 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Eric Poirier <eric.poirier@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

#header-wrapper{
  background-color: @brand-tertiary;
  background-position: 0 100%;
  h1 {
    margin-bottom:0;
    text-transform: uppercase;
    &:after {
      content:none;
    }
  }
  .featured-jumbotron{
    padding-top:200px;
    padding-bottom:150px;
    background-size:cover;
  }
  &.featured-jumbotron-home {
    .featured-jumbotron {
      background-image:@featured-jumbotron-home-bg-img;
    }
  }
}

.btn {
  .button-size(8px; 50px; @btn-font-size; @line-height-base; 0px);
}


#main-menu {
  li a, .dropdown-menu p {
    text-transform: uppercase;
    font-weight:300;
  }
}

.eclipse-gcse {
  .feather-search {
    color:@brand-primary;
    font-size: 24px;
  }
}

#main-menu li .dropdown-menu:before {
  border:none;
  background-color:transparent;
}

#main-menu li.dropdown.eclipse-more .dropdown-menu {
  outline: none;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

.gsib_a {
  padding:0!important;
}

.eclipsefdn-featured-story {
  background-image:url(../images/webinar-series-1-bg.jpg);
  background-size: cover;
  color:@white;
  .btn {
    width:200px;
    padding:8px 35px;
    margin-top: 10px;
    text-transform: uppercase;
  }
  h2{
    font-size:28px;
    text-transform: inherit;
    margin-bottom:10px;
    @media (min-width: @screen-xs-min) {
      font-size:34px;
    }
  }
  h3 {
    margin-top:10px;
  }
  h2, h3 {
    color:@white;
    font-weight:400;
    @media (max-width: @screen-xs-max) {
      text-align: center;
    }
  }
  img.featured-section-webinar-series-1-img {
    margin-bottom:18px;
    margin: 0 auto 20px;
    width: 90%;
    @media (min-width: @screen-md-min) {
      width: fit-content;
      margin: 0 auto;
    }
    @media (max-width: @screen-xs-max) {
      max-height: 200px;
      width: inherit;
      max-width: 90%;
    }
  }
  p {
    font-size:18px;
    text-align: center;
    @media (min-width: @screen-xs-min) {
      text-align: left;
    }
  }
}

.featured-section-projects-home {
  background-color:#f9fafa;
  .logo {
    max-height: 65px;
    max-width: 120px;
  }
  p{
    font-size:14px;
    &.description {
      span {
        color:#222;
      }
      a {
        color:@brand-primary;
      }
    }
    &.project-lead {
      color:#222;
      span {
        color:@brand-primary;
      }
    }
  }

  .featured-section-projects-picture {
      max-width:116px;
      height:116px;
  }

  .image-container {
    height: 75px;
  }
  li {
    padding-right: 10px;
    padding-left: 10px;
    & > div:not(#featured-more-projects) > a {
      position: absolute;
      bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      left: 20px;
      right: 20px;
    }
    & > div:not(#featured-more-projects) {
      background-color: #fff; 
      margin-bottom:20px;
      box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
    }
    .project-item {
      padding: 20px;
    }
    .project-item-home {
      padding-bottom: 0;
    }
    // required to override inline-list padding
    &.padding-0 {
      padding: 0;
    }
  }
  #featured-more-projects ul {
      margin-left:0px;
  }
}

.featured-section-whats-new {
    background-color:@white;
    padding: 60px 0 10px;
    p {
      margin-bottom:10px;
      font-size:14px;
    }
    .whats-new-item {
      margin-bottom:50px;
    }
    .whats-new-icon {
      height:55px;
      img {
        width: 49px;
      }
    }
    .whats-new-title, h4 {
      font-size:18px;
      margin-top:0;
      a {
          color:@brand-primary;
      }
    }
    .whats-new-description {
      font-size:14px;
    }
    .block-summary-item {
      padding:0;
      background-color: transparent;
      p {
        color:inherit;
      }
      h4 {
        color:@brand-primary;
        font-weight: 300;
        a {
          color:@brand-primary;
          &:hover {
            color:@brand-primary;
            text-decoration: underline;
          }
        }
      }
    }
}

.parallax-mirror {
  background-color:#022247;
}
.featured-section-highlights-prefix {
  @media (max-width: @screen-sm-max) {
    background-image:url(../images/highlights-prefix-bg.jpg);
    background-size:cover;
    background-color:#022247;
  }
  p {
    font-size: 50px;
    color: @white;
    font-weight: 600;
    line-height: 1.2;
  }
}
.featured-section-highlights {
    background-color:#fafafb;
    margin-bottom:30px;
    .featured-stats-item {
      @media (min-width: @screen-xs-min) {
        border-right:1px solid lighten(@text-color, 25%);
        &:last-child {
            border-right:none;
        }
      }
      @media (max-width: @screen-xs-max) {
        &:nth-child(odd) {
          border-right:1px solid lighten(@text-color, 25%);
        }
      }
    }
    a.featured-stats-link {
        &:hover {
            text-decoration: none;
            .featured-stats-text-container {
                color:darken(@text-color, 15%);
            }
            .featured-stats-number {
                color:darken(@brand-primary, 15%);
            }
        }
    }
    .featured-stats-text-container {
        text-transform: uppercase;
        color:@text-color;
        font-size: 16px;
        font-weight: 400;
        .featured-stats-number {
            color:@brand-primary;
            font-size:40px;
            font-weight: 600;
        }
    }
}

.featured-section-members {
  background-color:@white;
  padding-top: 60px;
  padding-bottom: 60px;
  .members-description {
    color:@brand-primary;
    font-size: 16px;
  }
}

.featured-section-connected {
  background-color:#f9fafa;
  color: #fff;
  padding:60px 0 30px;
  .btn {
    margin-right:10px;
  }
  li {
    @media (max-width: @screen-xs-max) {
      &:nth-child(1) {
        width:100%;
        margin-bottom:10px;
      }
    }
  }
  .connected-icon {
    color:#828283;
    .fa {
      font-size: 24px;
      top: 5px;
      position: relative;
      padding:0 10px;
    }
  }
}
