<script id="event-short-list" type="text/html">
{{ readFile ("/js/templates/event-list-format.mustache") | safeHTML}}
</script>

{{ with .Site.Params.youtube_api_token }}
<script>
    (function initAPITokens(document) {
        const elem = document.querySelector('.whats-new-playlist');

        if (!elem) return;
        elem.youtubeAPIToken = "{{ . }}"
    })(document)
</script>
{{ end }}